echo "Direnv loading env from local K8 context"
echo "This means that you need to run skaffold dev --port-forward"
echo "direnv reload as needed to refresh these"

# OPEN

# Next we need to get the ENV variables from the K8 secrets
source ./scripts/set-env-variables.sh
