interactions:
- request:
    body: null
    headers:
      x-api-key:
      - DUMMY
    method: GET
    uri: https://api.congress.gov/v3/bill?limit=5
  response:
    body:
      string: "{\n    \"bills\": [\n        {\n            \"congress\": 118,\n            \"latestAction\":
        {\n                \"actionDate\": \"2024-03-26\",\n                \"text\":
        \"Placed on the Union Calendar, Calendar No. 357.\"\n            },\n            \"number\":
        \"6192\",\n            \"originChamber\": \"House\",\n            \"originChamberCode\":
        \"H\",\n            \"title\": \"Hands Off Our Home Appliances Act\",\n            \"type\":
        \"HR\",\n            \"updateDate\": \"2024-03-29\",\n            \"updateDateIncludingText\":
        \"2024-03-29T18:11:12Z\",\n            \"url\": \"https://api.congress.gov/v3/bill/118/hr/6192?format=json\"\n
        \       },\n        {\n            \"congress\": 118,\n            \"latestAction\":
        {\n                \"actionDate\": \"2024-03-26\",\n                \"text\":
        \"Placed on the Union Calendar, Calendar No. 356.\"\n            },\n            \"number\":
        \"4167\",\n            \"originChamber\": \"House\",\n            \"originChamberCode\":
        \"H\",\n            \"title\": \"Protecting America\\u2019s Distribution Transformer
        Supply Chain Act\",\n            \"type\": \"HR\",\n            \"updateDate\":
        \"2024-03-28\",\n            \"updateDateIncludingText\": \"2024-03-28T20:26:13Z\",\n
        \           \"url\": \"https://api.congress.gov/v3/bill/118/hr/4167?format=json\"\n
        \       },\n        {\n            \"congress\": 118,\n            \"latestAction\":
        {\n                \"actionDate\": \"2024-03-26\",\n                \"actionTime\":
        \"09:04:01\",\n                \"text\": \"Held at the desk.\"\n            },\n
        \           \"number\": \"3613\",\n            \"originChamber\": \"Senate\",\n
        \           \"originChamberCode\": \"S\",\n            \"title\": \"Improving
        Federal Building Security Act of 2024\",\n            \"type\": \"S\",\n            \"updateDate\":
        \"2024-03-28\",\n            \"updateDateIncludingText\": \"2024-03-28T04:20:22Z\",\n
        \           \"url\": \"htt[...]
