[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prisma = "*"
bs4 = "*"
requests = "*"
progressbar2 = "*"
alive-progress = "*"
aiohttp = "*"
asyncio = "*"
tqdm = "*"
aiofiles = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
